body
{
	font-size:1.15em;
	font-family: 'Ubuntu', sans-serif;
}

#my-thumb{
	width:164px;    
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.gal-detail.thumb{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.font-consolas{font-family:'Consolas', sans-serif !important;}
.font-ubuntu{font-family:'Ubuntu', sans-serif !important;}
.nav_fix{height:62px;}

<<<<<<< HEAD
section{padding:70px 0px;}
=======
section{padding:75px 0px;}

>>>>>>> b3294b57eb8634dc16450cd1d6f8ab8203d1822a
.ul-h{margin-left:20px;}

section#dummy_body{min-height:600px;}

section#about{
	background: url(../resources/img/bg/rash.png);
	padding:0px;
}
section#about .jumbotron{margin-bottom: 0px; background: transparent;}

section#skills
{
<<<<<<< HEAD
	/*background:url();*/
=======
	/*background:url(../resources/img/bg/linearboxX.png);*/
>>>>>>> b3294b57eb8634dc16450cd1d6f8ab8203d1822a
	/*background-size: 7.5%;*/
}

section#projects
{
	background: url(../resources/img/bg/linearbox.png);
	background-size: 7.5%;
}

section#services
{
	background: #FFF; /*A9C6CD*/
	color:#009184;
	font-weight:600;
}
section#services h2{color:#002961;}

section#team
{
	background:#FFF;
	color:#F27919;
	font-weight:600;
}


section#contact
{
	background:#FFF7F3;
}



a.btn-social{
	border-radius: 25px;
	margin:10px;
}


footer
{
	background-color:#343A40;
	color:rgba(255,255,255,.5);
	padding-top:25px;
	padding-bottom:25px;
}
footer a{color:rgba(255,255,255,.75);}
footer a:hover{color:rgba(255,255,255,1);text-decoration:none;}