[Desktop Entry]
Encoding=UTF-8
Name=Link to Related image
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwjD79Wt3YXdAhXEfysKHWn1DRkQjRx6BAgBEAU&url=https%3A%2F%2Fwww.google.com%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26ved%3D2ahUKEwjD79Wt3YXdAhXEfysKHWn1DRkQjRx6BAgBEAU%26url%3Dhttp%253A%252F%252Fforums.codeblocks.org%252Findex.php%253Ftopic%253D12172.0%26psig%3DAOvVaw0-5Z90xd8T6kcfdhdV4A35%26ust%3D1535201474781706&psig=AOvVaw0-5Z90xd8T6kcfdhdV4A35&ust=1535201474781706
Icon=text-html
